@import "colors"
@import "variables"

aside.sidenav
  width: 12vw

  .list-group-item-action
    border: 1.5px solid transparent !important

    &:hover,
    &:focus
      background-color: $color-light-blue !important
      color: white !important
      @include transition

    &.active
      background-color: $color-light-blue !important
      color: white !important
      border: 1.5px solid $color-cyan !important
      @include transition

nav.navbar
  .navbar-brand
    text-transform: uppercase
    font-weight: bold
    @extend .text-primary

  .nav-link:not(.btn)
    text-transform: capitalize
    @extend .text-primary
    margin: 0 .1rem

    &:hover,
    &:focus
      background-color: $color-bs-light

main
  margin-top: 50px

  .hero-section
    background-size: cover
    background: url("../img/hero-5.jpg") no-repeat center

  .features-section
    .card
      border: 2px solid transparent

      &:hover,
      &:focus
        @include transition
        cursor: pointer
        border: 2px solid $color-cyan !important

  .recommended-section
    .card
      &:hover,
      &:focus
        cursor: pointer

        *
          @include transition

        .card-title
          font-weight: bold

        .card-img-top
          transform: scale(1.02, 1.02)

footer
  .nav-link
    text-transform: capitalize
    @extend .text-primary
    margin: 0 .1rem

