doctype html
html(lang='en')
  head
    title hotels.com
    // Local Files
    link(rel='stylesheet' href='vendors/bootstrap-5.1.3-dist/css/bootstrap.min.css')
    script(src='vendors/bootstrap-5.1.3-dist/js/bootstrap.bundle.min.js')
    // jQuery
    script(src='vendors/jquery-3.6.0/jquery-3.6.0.min.js')
    // chart
    script(src='vendors/chart.js-3.5.0/chart.min.js')
    script(src='js/main.js')
    script(src='js/dashboard.js')
    // Fonts
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap' rel='stylesheet')
    // Line awesome
    link(rel='stylesheet' href='vendors/line-awesome-1.3.0/css/line-awesome.min.css')
    // Flags icons
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/css/flag-icon.min.css')
    link(rel='stylesheet' href='css/main.css')
  body
    .d-flex.h-100
      aside.sidenav.shadow-sm
        .p-0
          .brand-name.text-center.mt-3.mb-2
            .d-flex.justify-content-center.align-items-center
              img.me-1(src='img/logo.png' alt='' height='50')
          .list-group.list-group-flush
            a.list-group-item.list-group-item-action.d-flex.flex-column.align-items-center.border-0.text-capitalize.py-3(href='')
              i.las.la-columns.la-2x
              span dashboard
            a.list-group-item.list-group-item-action.d-flex.flex-column.align-items-center.border-0.text-capitalize.py-3(href='')
              i.las.la-key.la-2x
              span rooms
            a.list-group-item.list-group-item-action.d-flex.flex-column.align-items-center.border-0.text-capitalize.py-3(href='')
              i.las.la-calendar-check.la-2x
              span bookings
            a.list-group-item.list-group-item-action.d-flex.flex-column.align-items-center.border-0.text-capitalize.py-3(href='')
              i.las.la-user-alt.la-2x
              span guests
            a.list-group-item.list-group-item-action.d-flex.flex-column.align-items-center.border-0.text-capitalize.py-3(href='')
              i.las.la-user-tie.la-2x
              span concierge
            a.list-group-item.list-group-item-action.d-flex.flex-column.align-items-center.border-0.text-capitalize.py-3(href='')
              i.las.la-cog.la-2x
              span settings
          .position-absolute.bottom-0.ps-3.text-center
            h6.mb-0.text-capitalize hotel.com admin
            p.mb-0 &copy; All rights reserved
      .container-fluid
        header
          nav.navbar.navbar-expand-lg
            .container-fluid
              a.navbar-brand(href='#').d-flex.align-items-center
                i.las.la-columns.la-2x.me-2
                span Dashboard
              button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
                span.navbar-toggler-icon
              #navbarSupportedContent.collapse.navbar-collapse
                form.ms-auto.d-flex.w-50
                  .input-group
                    input.form-control(type='search' placeholder='search location, hotel name, facilities' aria-label='Search')
                    span.input-group-text.bg-transparent
                      i.las.la-search
                ul.navbar-nav.ms-auto.align-items-center
                  li.nav-item
                    a.nav-link.fs-4(href='#')
                      i.las.la-bell
                  li.nav-item
                    a.nav-link.fs-4(href='#')
                      i.las.la-envelope
                  .dropdown
                    button.btn#account-dropdown(type='button' data-bs-toggle='dropdown' aria-expanded='false')
                      .d-flex.align-items-center.gap-2
                        img.img-cover.rounded-circle.border(src='img/icons8_account_120px.png' width='40' height='40')
                        .text-start
                          p.mb-0.text-capitalize john doe
                          p.small.mb-0 guest
                        label
                          i.las.la-angle-down
                    ul.dropdown-menu
                      li
                        a.dropdown-item(href='#') Action
                      li
                        a.dropdown-item(href='#') Another action
                      li
                        a.dropdown-item(href='#') Something else here
                      li
                        hr.dropdown-divider
                      li
                        a.dropdown-item(href='#') Separated link
        main
          .container.py-3
            .section
              .row.row-cols-lg-4
                .col
                  .card.mb-3
                    .card-body
                      .row.align-items-center
                        .col-6
                          .d-flex.flex-column
                            p.mb-0 new bookings
                            h4 651
                        .col-4.ms-auto
                          canvas#new-bookings-chart
                .col
                  .card.mb-3
                    .card-body
                      .row.align-items-center
                        .col-6
                          .d-flex.flex-column
                            p.mb-0 scheduled rooms
                            h4 7312
                        .col-4.ms-auto
                          canvas#scheduled-rooms-chart
                .col
                  .card.mb-3
                    .card-body
                      .row.align-items-center
                        .col-6
                          .d-flex.flex-column
                            p.mb-0 check ins
                            h4 723
                        .col-4.ms-auto
                          img(src='img/check-in-icon.png').img-fluid
                .col
                  .card.mb-3
                    .card-body
                      .row.align-items-center
                        .col-6
                          .d-flex.flex-column
                            p.mb-0 check outs
                            h4 1391
                        .col-4.ms-auto
                          img(src='img/check-out-icon.png').img-fluid
              .row
                .col-lg-9
                  .card.mb-3
                    .card-body
                      .row
                        .col-md-6
                          h6.text-capitalize available rooms
                          .d-flex.align-items-center
                            .flex-grow-1.me-2
                              .progress
                                .progress-bar(role='progressbar' style='width: 75%')
                            h5.mb-0 458
                          p.small total 600 rooms
                        .col-md-6
                          h6.text-capitalize sold out rooms today
                          .d-flex.align-items-center
                            .flex-grow-1.me-2
                              .progress
                                .progress-bar(role='progressbar' style='width: 85%')
                            h5.mb-0 521
                          p.small total 600 rooms
                  .card
                    .card-header.bg-transparent.border-0
                      .d-flex.my-2.align-items-center.justify-content-between
                        h5.mb-0.text-capitalize reservations statistics
                        .dropdown
                          button.btn(type='button' data-bs-toggle='dropdown' aria-expanded='false')
                            .d-flex
                              span this year
                              i.las.la-angle-down.ms-2
                          ul.dropdown-menu.text-capitalize
                            li
                              a.dropdown-item(href='#') last week
                            li
                              a.dropdown-item(href='#') last month
                            li
                              a.dropdown-item(href='#') last quarter

                    .card-body
                      canvas#reservations-stats-chart
                .col-lg-3
                  .card.mb-3
                    .card-header.bg-transparent.border-0
                      .d-flex.align-items-center.justify-content-between
                        h5.mb-0.text-capitalize recent bookings
                        a(href='#').btn.text-primary more
                    .card-body.p-0
                      .list-group.list-group-flush
                        a.list-group-item.list-group-item-action(href='#')
                          .d-flex.w-100.justify-content-between.align-items-center
                            .flex-grow-1
                              p.text-primary.text-capitalize.mb-0 october 20th, 2021
                              h6.my-2.text-capitalize john doe
                              .d-flex
                                small.text-capitalize.me-2
                                  i.las.la-key.me-1
                                  span room a-12
                                small.text-capitalize
                                  i.las.la-users.me-1
                                  span 3-5 people
                            img.rounded-circle.border(src='img/icons8_account_120px.png' width='50' height='50')
                        a.list-group-item.list-group-item-action(href='#')
                          .d-flex.w-100.justify-content-between.align-items-center
                            .flex-grow-1
                              p.text-primary.text-capitalize.mb-0 october 20th, 2021
                              h6.my-2.text-capitalize john doe
                              .d-flex
                                small.text-capitalize.me-2
                                  i.las.la-key.me-1
                                  span room a-12
                                small.text-capitalize
                                  i.las.la-users.me-1
                                  span 3-5 people
                            img.rounded-circle.border(src='img/icons8_account_120px.png' width='50' height='50')
                        a.list-group-item.list-group-item-action(href='#')
                          .d-flex.w-100.justify-content-between.align-items-center
                            .flex-grow-1
                              p.text-primary.text-capitalize.mb-0 october 20th, 2021
                              h6.my-2.text-capitalize john doe
                              .d-flex
                                small.text-capitalize.me-2
                                  i.las.la-key.me-1
                                  span room a-12
                                small.text-capitalize
                                  i.las.la-users.me-1
                                  span 3-5 people
                            img.rounded-circle.border(src='img/icons8_account_120px.png' width='50' height='50')
                  .card.mb-3
                    .card-header.bg-transparent.border-0
                      .d-flex.align-items-center.justify-content-between
                        h5.mb-0.text-capitalize guest list
                        a(href='#').btn.text-primary more
                    .card-body.p-0
                      .list-group.list-group-flush
                        a.list-group-item.list-group-item-action(href='#')
                          .d-flex.w-100.justify-content-between.align-items-center
                            img.rounded-circle.border(src='img/icons8_account_120px.png' width='50' height='50')
                            .flex-grow-1.ms-2
                              p.text-primary.text-capitalize.mb-0 #73199
                              h6.my-2.text-capitalize john doe
                        a.list-group-item.list-group-item-action(href='#')
                          .d-flex.w-100.justify-content-between.align-items-center
                            img.rounded-circle.border(src='img/icons8_account_120px.png' width='50' height='50')
                            .flex-grow-1.ms-2
                              p.text-primary.text-capitalize.mb-0 #73199
                              h6.my-2.text-capitalize john doe
                        a.list-group-item.list-group-item-action(href='#')
                          .d-flex.w-100.justify-content-between.align-items-center
                            img.rounded-circle.border(src='img/icons8_account_120px.png' width='50' height='50')
                            .flex-grow-1.ms-2
                              p.text-primary.text-capitalize.mb-0 #73199
                              h6.my-2.text-capitalize john doe
